extends ../layout.pug 

block styles 
    link(rel="stylesheet", href="/css/book-register.css")
block contents 
    section.registration 
        .hero
            h4 "Books are our stories in a world where everything is forgoten"
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quam nulla cumque hic, dignissimos veniam eos repudiandae temporibus, corrupti, et saepe fuga magni placeat quod nobis velit dicta eaque asperiores?
        
        form(action="/user/login" method="POST")
            input(type="hidden" name="_csrf" value=(csrfToken))
            input(type="email" placeholder="Email" name="email")
            input(type="password" placeholder="Password" name="password")
            a(href="/user/account/login/reset-password" style=("color: white; font-size: 14px")) Reset password? 
            input(type="submit" value="Continue")