extends ../layout.pug 

block styles 
    link(rel="stylesheet", href="/css/book-register.css")
block contents 
    section.registration 
        .hero
            h4 #{content.title}
            a(href=(content.link) style=("font-size: 16px; color: white;")) #{content.btnName} 